@import '../../src/colors.less';

.Trigger {
  display: inline-flex;
}

.Block {
  width: 100px;
  height: 50px;
  display: inline-block;

  border: 1px solid @ak-color-N80;
  margin: 0.2em;
}

.description {
  padding: 0.5em;
  font-size: smaller;
}

.Blocks {
  display: flex;
  flex-direction: column;
}
